.news-ticker-wrapper {
  overflow: hidden;
  white-space: nowrap;
  direction: rtl;
  position: relative;
}

.news-ticker-text {
  display: flex;
  width: max-content;
  animation: tickerScroll 15s linear infinite 3s;
}

.ticker-content {
  display: inline-block;
  padding-inline-end: 200px;
}

.add-breaking-news {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes tickerScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
