  <section>
      <h2>إنشاء حساب سوبر مشرف</h2>
      <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="form-group">
          <label for="email">البريد الإلكتروني</label>
          <input id="email" formControlName="email" class="form-control" placeholder="أدخل البريد الإلكتروني">
        </div>
        <div class="form-group">
          <label for="password">كلمة المرور</label>
          <input id="password" type="password" formControlName="password" class="form-control" placeholder="أدخل كلمة المرور">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">إنشاء</button>
      </form>
    </section>
