
<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="./favicon.ico" alt="Logo" class="logo">
      <i>الجريدة الأخبــــارية</i>
    </a>

     <form class="form-inline mx-auto">
    <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" />
          <div class="input-group-append">
            <button class="btn btn-primary">
              <i class="material-icons">search</i>
            </button>
          </div>
    </div>
  </form>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        الأقــســام
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">قسم زايد1</a>
        <a class="dropdown-item" href="#">قسم زايد2</a>
        <a class="dropdown-item" href="#">جهاز المدينة</a>
        <a class="dropdown-item" href="#">شركة المياه</a>
        <a class="dropdown-item" href="#">شركة الكهرباء</a>
        <a class="dropdown-item" href="#">البريد</a>
      </div>
    </div>
  </div>
</nav>

