<div class="position-sticky" style="top: 100px;">
  <div class="card ad-card text-white">
    <div class="card-body text-center">
 <ng-container *ngIf="!currentAd && authService.getIsSuperAdmin()">
        <p class="mb-3">لا يوجد إعلان حالي</p>
        <button class="btn btn-success btn-sm" (click)="goToAdd()">➕ إضافة إعلان</button>
      </ng-container>


      <ng-container *ngIf="currentAd">
        <h5>{{ currentAd?.title }}</h5>
        <p>{{ currentAd?.description }}</p>

        <img *ngIf="isImage(currentAd.mediaUrl)"
             [src]="getFullImageUrl(currentAd.mediaUrl)"
             class="media-box mb-2"
             alt="Ad"
             (error)="onImageError($event)" />

        <video *ngIf="isVideo(currentAd.mediaUrl)"
               #adVideo
               [src]="getFullImageUrl(currentAd.mediaUrl)"
               class="media-box mb-2"
               autoplay
               controls
               playsinline
               (loadedmetadata)="adVideo.play()"
        ></video>

        <div *ngIf="authService.getIsSuperAdmin()" class="mt-3 d-flex justify-content-center flex-wrap gap-2">
          <button class="btn btn-warning btn-sm" (click)="goToEdit()">✏️ تعديل</button>
          <button class="btn btn-dark btn-sm" (click)="deleteAd(currentAd?.id)">❌ حذف</button>
          <button class="btn btn-success btn-sm" (click)="goToAdd()">➕ إضافة إعلان</button>
        </div>
      </ng-container>

    </div>
  </div>
    <!-- ✅ قسم واتساب خارج الفورم -->
  <div class="card mt-3 p-3 text-center border-success border-2 shadow-sm">
    <p class="mb-2 fw-bold">📢 للإعلان معنا</p>
    <a
      class="btn btn-success d-flex align-items-center justify-content-center gap-2"
      href="https://wa.me/201098313002"
      target="_blank"
    >
      <i class="bi bi-whatsapp fs-4"></i>
      تواصل عبر واتساب
    </a>
  </div>
</div>
